
<section id = "page-top">
<!-- <h1>Users#showother</h1>
<p>Find me in app/views/users/show_other.html.erb</p> -->
<div class="container-fluid col-md-8 col-md-offset-2">
    <div class= "row-fluid center-block">

      <div class="span1 centering text-center">
          <h2><%=@user.name%></h2>

      <!-- <p>Find me in app/views/users/show.html.erb</p> -->
      <div class="span3 centering text-center">
          <div class="row-fluid">
            <%=image_tag(@user.image_url, class: 'img-circle img-responsive', id: 'profile-pic')  %>

              <div class="row-fluid">
                <ul>
              <li><em>Name</em> <%=@user.name%></li>
              <li><em>Username</em>  <%=@user.username%></li>

              <% if session[:user_id].nil? %>
              <li>Please sign up to see this person's email, location and skills!</li>

              <% else %>
                <li><em>Email</em>  <%=@user.email%></li>
                <li><em>Location</em> <%=@user.zipcode%></li>
                <li><em>Age</em>  <%=@user.age%></li>
                <li><em>Longitude</em>  <%=@user.location_long%></li>
                <li><em>Latitude</em>  <%=@user.location_lat%></li>
                </ul>
                </div>

                <h2>General Availability</h2>
                <li><%@user.availability.each do |day|%></li>
                <li><%=day%></li>
                <%end%>

              <%end%>
          </div>
      </div>
  </div>


    <div class="span3 centering text-center">
        <div class= "row-fluid center-block">
            <h2>Skills she has</h2>
        </div>

        <div class="row-fluid center-block">
          <ul>
          <%@user.skills.each do |skill|%>
            <li>
              <li><h4><%=skill.maincat%></h4></li>
              <li>She says: "<%=skill.subcat%>"</li>
            </li>
          <%end%>
          </ul>
          <br>
        </div>
    </div>


    <div class="span3 centering text-center">
        <div class= "row-fluid center-block">
            <h2>Recent posts</h2>
        </div>

        <div class="row-fluid center-block">
          <ul>
          <%@user.posts.each do |post|%>
            <li>
              <li><h4><%=post.title%></h4></li>
            </li>
          <%end%>
          </ul>
          <br>
        </div>
    </div>


  </div>
</div>

</section>
