
<section id = "page-top">
  Edit your skill here
  Skill id<%=@skill.id%><br>
  Belongs to user <%=@skill.user_id%>
  <%=@skill.maincat%>
  <%=@skill.subcat%>

  <%=simple_form_for @skill, url: user_skill_path(current_user, @skill), method: :patch do |f|%>
  <%=f.input :maincat, label:'category', :selected => @skill.maincat, :collection => Skill::MAINCATS %>
  <%=f.input :subcat%>


  <%= f.submit "update", class:"btn btn-md btn-primary" %>
  <%end%>

</section>
