<script type="text/javascript">
function toggle_visibility(id) {
   var e = document.getElementById(id);
   if(e.style.display == 'block')
      e.style.display = 'none';
   else
      e.style.display = 'block';
  }

</script>

<section id = "page-top">
  <div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Hello, world!</p>
</div>
</section>
<div class = "container-fluid">
    <div class="row row-layouts">
      <div class="col-md-4 left-skills">
        <h2>Skills</h2>
        <p>
          <p><a class="btn btn-primary btn-sm" href="#" role="button">Browse by Skills</a></p>
          <p><a class="btn btn-primary btn-sm" href="#" role="button">Browse by Posting</a></p>
          <div class="col-md-8 searchbar">
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search for...">
               <span class="input-group-btn">
                 <button class="btn btn-default" type="button">Go!</button>
               </span>
            </div><!-- /input-group -->
          </div>
        </p>
      </div>

      <div class = "col-md-8 right-layout">
        <!-- <h1>Skills#index</h1>
        <p>Find me in app/views/skills/index.html.erb</p>
        <br> -->
        <div class="row row-layouts">
          <%@skills_hash.each do |skill, users| %>
              <div class="col-md-4 box-inside">
                  <a href="#" onclick="toggle_visibility('<%=skill%>');">
                  <h4><%=skill%></h4>
                  </a>
              </div>

              <div id= '<%=skill%>' class='popout-top' style='display:none'>
                <%users.compact.each do |user|%>
                  <li><%=link_to "#{user.name}", show_other_profile_path(user.id)%></li>
                <% end %>
                <li>Add yourself to this list</li>
              </div>

          <% end %>
        </div>

        <!-- <a href="javascript:ShowContent('uniquename')">
        Click to show.
        </a> -->

        <!-- <%@skills_hash.each do |skill, users| %>
        <div class="col-md-4">
            <h4><%=skill%></h4>
            <ul>
            <%users.compact.each do |user|%>
              <li><%=link_to "#{user.name}", show_other_profile_path(user.id)%></li>
            <% end %>
          </ul>
        <% end %>
        </div> -->


      </div>
  </div>
</div>
