<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<li><%=current_user.name%></li>
<li><%=current_user.username%></li>

<li><%=current_user.email%></li>
<li><%=current_user.zipcode%></li>
<li><%=current_user.age%></li>
