<section id = "page-top">
    <div class = "container-fluid col-xs-12 col-lg-8">

    <div class= "row-fluid center-block">
        <h2>Post</h2>
    </div>
    <li><h4>Title: <%=@post.title%></h4></li>
    <li><h4>More Info: <%=@post.body%></h4></li>
    <li><h4>Expires: <%=@post.expiration%></h4></li>
    <li><h4>Contact: <%=@user.email%></h4></li>


    <%=@post.id%>
  </div>
</section>
